 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/5791822188624594443.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 390px 103px 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -300px 408px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 805px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 792px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 778px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 40px;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(249, 231, 155, 0.5), rgba(114, 104, 63, 0.5)), linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/ChatGPTImageAug2202512_24_45AM.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 658px;
}

.u-section-2 .u-group-1 {
  width: 669px;
  min-height: 268px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  text-transform: none;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px 1px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 20px 0 -20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 270px;
  grid-auto-columns: calc(25% - 18.75px);
  --gap: 25px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #72683f, #f9e79b);
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px -21px 0 -11px;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #72683f, #f9e79b);
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px -21px 0 -11px;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #72683f, #f9e79b);
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px -21px 0 -11px;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #72683f, #f9e79b);
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px -21px 0 -11px;
}

.u-section-2 .u-text-10 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-group-1 {
    min-height: 210px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 25px;
    min-height: 223px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 27px;
    margin-bottom: -370px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 683px;
    grid-auto-columns: calc(50% - 12.5px);
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -408px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 39px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1.05) !important;
  box-shadow: 2px -2px 8px 0px rgba(51,49,41,1) !important;
}

.u-section-2 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/ChatGPTImageAug2202512_27_08AM.png');
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 477px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 157px 186px 0 165px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 739px;
  margin: 69px -85px 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 77px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: linear-gradient(#fef9e6, #72683f);
  font-weight: 700;
  margin: 25px auto -10px -183px;
  padding: 13px 193px 13px 192px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-text-1 {
    width: 789px;
    margin-top: 60px;
    margin-left: 65px;
    margin-right: 86px;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), linear-gradient(to bottom, rgba(114, 104, 63, 0.5), rgba(114, 104, 63, 0.5)), url('images/ChatGPTImageAug2202505_09_40AM.png');
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 1599px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  font-weight: 200;
  margin: 1029px auto 0 -15px;
}

.u-section-4 .u-list-1 {
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 375px;
}

.u-section-4 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(254, 249, 230, 0.6), rgba(114, 104, 63, 0.6));
  background-size: cover;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-1 {
  width: 95px;
  height: 95px;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(254, 249, 230, 0.6), rgba(114, 104, 63, 0.6));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-2 {
  width: 95px;
  height: 95px;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(254, 249, 230, 0.6), rgba(114, 104, 63, 0.6));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-3 {
  width: 95px;
  height: 95px;
  margin: 8px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
  box-shadow: 0px -2px 8px 0px rgba(254,249,230,1) !important;
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #72683f, #fef9e6);
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 607px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 487px;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url('images/download.jfif');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 412px;
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-5 .u-image-1 {
    min-height: 402px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 10px;
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 308px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 291px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 3.75rem;
  }
} .u-section-6 {
  min-height: 750px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(178, 154, 54, 1), rgba(125, 115, 76, 1)), linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-size: cover, cover;
}

.u-section-6 .u-image-1 {
  height: 397px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -337px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 629px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 139px 0 0;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 629px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(249, 231, 155, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-list-1 {
  width: 567px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 490px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-6 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(246, 234, 188, 1), rgba(246, 234, 188, 1));
  background-size: cover;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-6 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(246, 234, 188, 1), rgba(246, 234, 188, 1));
  background-size: cover;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-6 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(246, 234, 188, 1), rgba(246, 234, 188, 1));
  background-size: cover;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 70px;
  width: 70px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-6 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(246, 234, 188, 1), rgba(246, 234, 188, 1));
  background-size: cover;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 640px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-6 .u-list-1 {
    width: 504px;
  }

  .u-section-6 .u-repeater-1 {
    grid-gap: 0px;
    min-height: 436px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 321px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-6 .u-list-1 {
    width: 600px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-1 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 320px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-6 .u-list-item-1,
.u-section-6 .u-list-item-1:before,
.u-section-6 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-2,
.u-section-6 .u-list-item-2:before,
.u-section-6 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-3,
.u-section-6 .u-list-item-3:before,
.u-section-6 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-4,
.u-section-6 .u-list-item-4:before,
.u-section-6 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-eee1-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eee1-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eee1-77.u-block-eee1-77.u-block-eee1-77:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-77.u-block-eee1-77.u-block-eee1-77.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-82:not([data-block-selected]):not([data-cell-selected]),
.u-block-eee1-82:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eee1-82:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eee1-82.u-block-eee1-82.u-block-eee1-82:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-82.u-block-eee1-82.u-block-eee1-82.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-87:not([data-block-selected]):not([data-cell-selected]),
.u-block-eee1-87:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eee1-87:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eee1-87.u-block-eee1-87.u-block-eee1-87:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-87.u-block-eee1-87.u-block-eee1-87.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-92:not([data-block-selected]):not([data-cell-selected]),
.u-block-eee1-92:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eee1-92:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eee1-92.u-block-eee1-92.u-block-eee1-92:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-92.u-block-eee1-92.u-block-eee1-92.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-97:not([data-block-selected]):not([data-cell-selected]),
.u-block-eee1-97:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eee1-97:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eee1-97.u-block-eee1-97.u-block-eee1-97:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-eee1-97.u-block-eee1-97.u-block-eee1-97.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/ChatGPTImageAug2202512_27_08AM.png');
  background-size: cover;
}

.u-section-7 .u-sheet-1 {
  min-height: 477px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: normal;
  margin: 157px 186px 0 165px;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 789px;
  margin: 16px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 739px;
  margin: 1px -119px 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 77px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: linear-gradient(#fef9e6, #72683f);
  font-weight: 700;
  margin: 25px auto -10px -183px;
  padding: 13px 193px 13px 192px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-7 .u-text-1 {
    width: 789px;
    margin-top: 60px;
    margin-left: 65px;
    margin-right: 86px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}